@import url(../../../stylesheets/application.css);
/*
 * hashmine
 * The redmine theme used by Hashstash.
 * It is based on gitmike theme version r6
 * @see https://bitbucket.org/hashstash/hashmine
 * @license GPL3 License
 */
body { color: #333; background-color: #fff; line-height: 1.4; }

#content h1, h2, h3, h4 { color: #333; }

#header { font: 13px Helvetica, arial, freesans, clean, sans-serif; background: #fff; padding: 4px 8px 10px 6px; height: auto; }
#header a { color: #4183c4; }
#header > h1 { background: url(../images/logo.png) no-repeat 10px 7px; padding: 5px 50px; color: #393939; }

#main { background: transparent; margin: 15px 15px 0px 15px; background-color: #fff; }

#top-menu { font: 13px Helvetica, arial, freesans, clean, sans-serif; padding: 10px 10px 2px 20px; background-color: #f3f3f3; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9f9f9), color-stop(100%, #f3f3f3)); background-image: -webkit-linear-gradient(#f9f9f9, #f3f3f3); background-image: -moz-linear-gradient(#f9f9f9, #f3f3f3); background-image: -o-linear-gradient(#f9f9f9, #f3f3f3); background-image: linear-gradient(#f9f9f9, #f3f3f3); background-repeat: repeat-x; text-shadow: 0 1px 0 white; border-bottom: 1px solid #e5e5e5; }
#top-menu #loggedas { color: #222; }
#top-menu a { color: #333; font-weight: bold; padding: 5px; margin-right: 0px; -webkit-transition: color 0.15s ease-in 0; -moz-transition: color 0.15s ease-in 0; -o-transition: color 0.15s ease-in 0; transition: color 0.15s ease-in 0; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); }
#top-menu a:hover { color: #4183c4; text-decoration: none; }

div.flash { border: 1px solid; text-shadow: 0 1px white; }
div#content > div.flash { border: 0px solid; padding: 9px 35px 10px; margin: -5px -10px 1px -10px; background-position-x: 12px !important; background-position-y: 9px !important; position: relative; border-bottom: 1px solid #AECCD7; }
div#content > div.flash:first-child { -webkit-border-top-left-radius: 8px; -moz-border-radius-topleft: 8px; border-top-left-radius: 8px; -webkit-border-top-right-radius: 8px; -moz-border-radius-topright: 8px; border-top-right-radius: 8px; }

#errorExplanation, div.flash, .nodata, .warning, .conflict { padding: 8px 35px 8px 30px; margin-bottom: 20px; font-size: 1.1em; border: 1px solid; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }

#errorExplanation, .nodata, .warning { background-color: #fcf8e3; border: 1px solid #fbeed5; color: #c09853; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); }

div.filters h2 .scope_title a { color: #444; }
div#content { margin-right: 300px; width: auto; }
div#main.nosidebar div#content { margin-right: 0px; }

#sidebar { width: 260px !important; padding: 0px 10px 20px 15px !important; background: whiteSmoke; border: 1px solid #ddd; zoom: 1; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05); -moz-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05); box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05); }

div#content > h2, div#content h2.contacts_header { border-bottom: 1px solid #d8e6ec; background: #E6F1F6; text-shadow: 0px 1px white; -webkit-border-top-left-radius: 2px; -moz-border-radius-topleft: 2px; border-top-left-radius: 2px; -webkit-border-top-right-radius: 2px; -moz-border-radius-topright: 2px; border-top-right-radius: 2px; padding: 8px 20px; margin: -6px -10px 10px; }
div#content > div.filters h2, div#content > #add-news > h2, div#content > #add-message > h2, div#content > #add-document > h2 { border-bottom: 1px solid #C5D5DD; background: #E6F1F6; text-shadow: 0px 1px white; -webkit-border-top-left-radius: 4px; -moz-border-radius-topleft: 4px; border-top-left-radius: 4px; -webkit-border-top-right-radius: 4px; -moz-border-radius-topright: 4px; border-top-right-radius: 4px; padding: 8px 20px; margin: -6px -10px 10px; }

.controller-boards.action-index #add-message { position: static; }
.controller-boards.action-index #add-message #message-form > p { position: relative; padding: 10px; background-color: white; margin: -10px; border-bottom: 1px solid #AECCD7; }

.controller-timelog.action-index div#content h2, .controller-time_entry_reports.action-report div#content h2, .controller-boards.action-show div#content h2, .controller-messages.action-show div#content h2, .controller-boards.action-show div#content div#add-message h2 { -webkit-border-top-left-radius: 0px; -moz-border-radius-topleft: 0px; border-top-left-radius: 0px; -webkit-border-top-right-radius: 0px; -moz-border-radius-topright: 0px; border-top-right-radius: 0px; border-top: 1px solid #AECCD7; /*padding: 9px 20px 12px;*/ margin: -2px -10px 10px; }

.controller-timelog.action-index div#content .contextual, .controller-time_entry_reports.action-report div#content .contextual { margin-top: 50px; }

#add-news, #add-message, #add-document { margin-bottom: 20px; }

div#content h2.contacts_header { padding-bottom: 10px; /* white-space: nowrap;*/ }

p.breadcrumb { margin: 4px 0 15px 0; }

div#content > div.contextual { margin-top: 10px; margin-right: 10px; }

#roadmap { margin: 10px; }

p.subtitle { margin: 0px 0 12px 0; }

.contextual a { color: #888; }
.contextual a:link, .contextual a:visited { color: #888; }
.contextual a:hover, .contextual a:visited:hover { color: #333; }

div.filters h2 .scope_title a { color: #222; text-decoration: none; }

#header { padding-top: 10px; padding-left: 10px; background-position-y: 11%; }

div#welcome-store-content h1, div#welcome-store-content h2, div#welcome-store-content h3, div#welcome-store-content h4 { color: #222; }

#content, #main.nosidebar #content { background: #fff; border: 1px solid #ddd; -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05); -moz-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05); box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05); -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }

a { color: #4183c4; }
a:link, a:visited { color: #4183c4; }

div.issue { background: #FFD; padding: 20px; margin-bottom: 6px; border: 1px solid #ddd; margin: -11px -11px 15px -11px; }
div.issue.tooltip { padding: 6px; margin: 0 0 6px 0; }
div.contact.details, div.deal.details { padding: 15px !important; margin: -11px -11px 6px; }

#sidebar h3 { color: #222; }

#footer { background-color: #F8F8F8; border: 0px; border-top: 1px solid #E0E0E0; color: #636363; margin-top: 45px; padding: 15px; }
#footer .bgl .bgr:after { content: " and gitmike theme"; }

h2, h3, h4 { border-bottom: 0px; }

.wiki h1, .wiki h2, .wiki h3 { border-bottom: 0px; }
.wiki.wiki-page h1 { border-bottom: 1px solid #ccc; }
.wiki.wiki-page > h2 { border-bottom: 1px solid #ccc; padding-bottom: 6px; }

#main-menu { left: 0px; width: 100%; background: #FAFAFA; background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fafafa), color-stop(100%, #eaeaea)); background: -webkit-linear-gradient(top, #fafafa, #eaeaea); background: -moz-linear-gradient(top, #fafafa, #eaeaea); background: -o-linear-gradient(top, #fafafa, #eaeaea); background: linear-gradient(top, #fafafa, #eaeaea); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa',endColorstr='#eaeaea')"; border: 1px solid #EAEAEA; border-bottom-color: #CACACA; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; margin-right: 0; position: relative; }
#main-menu ul { *zoom: 1; margin-top: 0; padding-left: 0; background-color: transparent !important; }
#main-menu ul:before, #main-menu ul:after { display: table; content: ""; line-height: 0; }
#main-menu ul:after { clear: both; }
#main-menu ul li { margin: 0; padding: 0; }
#main-menu ul li a { background-color: transparent !important; display: block; float: left; padding: 10px 12px; color: #333; text-shadow: 0 1px 0 white; font-weight: bold; text-decoration: none; border-bottom: 2px solid #DADADA; height: 20px; line-height: 20px; }
#main-menu ul li a.selected { color: #000; border-bottom: 2px solid #D26911 !important; background-color: #ebebeb; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fcfcfc), color-stop(100%, #ebebeb)); background-image: -webkit-linear-gradient(#fcfcfc, #ebebeb); background-image: -moz-linear-gradient(#fcfcfc, #ebebeb); background-image: -o-linear-gradient(#fcfcfc, #ebebeb); background-image: linear-gradient(#fcfcfc, #ebebeb); background-repeat: repeat-x; }
#main-menu ul li a.selected:hover { color: #000; }
#main-menu ul li a:hover { color: #4183c4; border-bottom: 2px solid #CFDCE8; background-color: #dce6ef; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fafbfd), color-stop(100%, #dce6ef)); background-image: -webkit-linear-gradient(#fafbfd, #dce6ef); background-image: -moz-linear-gradient(#fafbfd, #dce6ef); background-image: -o-linear-gradient(#fafbfd, #dce6ef); background-image: linear-gradient(#fafbfd, #dce6ef); background-repeat: repeat-x; text-decoration: underline; }

table.list tbody td, table.list tbody tr:hover td { border: solid 1px #ddd; }
table.list thead th { border-width: 1px; border-style: solid; border-top-color: #ddd; border-right-color: #ddd; border-left-color: #ddd; border-bottom-color: #ddd; }

.tabular label { padding-top: 4px; }

tr.assigned-to-me td.assigned_to, tr.created-by-me td.author { font-weight: bold; }

#quick-search { margin-top: 8px; }

table.list td { padding: 4px; }
table.list input[type="checkbox"] { margin-top: 6px; }
table.list tbody tr.group span.count { -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; background-color: #eee; color: #999; text-shadow: 0 1px 0 white; font-weight: bold; font: 12px Helvetica, arial, freesans, clean, sans-serif; line-height: 1.4; padding: 2px 5px; -webkit-box-shadow: inset 0 -1px 0 #e3e3e3; -moz-box-shadow: inset 0 -1px 0 #e3e3e3; box-shadow: inset 0 -1px 0 #e3e3e3; }
table.list tbody tr:hover { background-color: #EFF5F8; }
table.list tr.issue a { color: #666; }

/*tr.odd {background-color: transparent;}
tr.even {background-color: transparent;}
table.list th {background-color: transparent;}*/
tr.odd.priority-highest, table.list tbody tr.odd.priority-highest:hover { color: #900; font-weight: bold; }

tr.odd.priority-highest { background: #ffc4c4; }
tr.even.priority-highest { color: #900; font-weight: bold; }

table.list tbody tr.even.priority-highest:hover { color: #900; font-weight: bold; }

tr.even.priority-highest { background: #ffd4d4; }
tr.priority-highest a, tr.priority-highest:hover a { color: #900; }
tr.odd.priority-highest td, tr.even.priority-highest td { border-color: #ffb4b4; }
tr.odd.priority-high2 { color: #900; }

table.list tbody tr.odd.priority-high2:hover { color: #900; }

tr.odd.priority-high2 { background: #ffc4c4; }
tr.even.priority-high2 { color: #900; }

table.list tbody tr.even.priority-high2:hover { color: #900; }

tr.even.priority-high2 { background: #ffd4d4; }
tr.priority-high2 a { color: #900; }
tr.odd.priority-high2 td, tr.even.priority-high2 td { border-color: #ffb4b4; }
tr.odd.priority-high3 { color: #900; }

table.list tbody tr.odd.priority-high3:hover { color: #900; }

tr.odd.priority-high3 { background: #fee; }
tr.even.priority-high3 { color: #900; }

table.list tbody tr.even.priority-high3:hover { color: #900; }

tr.even.priority-high3 { background: #fff2f2; }
tr.priority-high3 a { color: #900; }
tr.odd.priority-high3 td, tr.even.priority-high3 td { border-color: #fcc; }
tr.odd.priority-lowest { color: #559; }

table.list tbody tr.odd.priority-lowest:hover { color: #559; }

tr.odd.priority-lowest { background: #eaf7ff; }
tr.even.priority-lowest { color: #559; }

table.list tbody tr.even.priority-lowest:hover { color: #559; }

tr.even.priority-lowest { background: #f2faff; }
tr.priority-lowest a { color: #559; }
tr.odd.priority-lowest td, tr.even.priority-lowest td { border-color: #add7f3; }

/*input[type="button"], input[type="submit"], input[type="reset"] { background-color: #f2f2f2; color: #222222; border: 1px outset #cccccc; }
input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover { background-color: #ccccbb; }
*/
.button, input[type="submit"] { position: relative; display: inline-block; padding: 5px 11px; font-weight: bold; color: #333; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9); white-space: nowrap; background-color: #eaeaea; background-repeat: repeat-x; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fafafa), color-stop(100%, #eaeaea)); background-image: -webkit-linear-gradient(#fafafa, #eaeaea); background-image: -moz-linear-gradient(#fafafa, #eaeaea); background-image: -o-linear-gradient(#fafafa, #eaeaea); background-image: linear-gradient(#fafafa, #eaeaea); -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; border: 1px solid #ddd; border-bottom-color: #c4c4c4; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05); vertical-align: middle; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none; -webkit-touch-callout: none; -webkit-appearance: none; }
.button:hover, input[type="submit"]:hover { text-decoration: none; background-color: #dadada; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eaeaea), color-stop(100%, #dadada)); background-image: -webkit-linear-gradient(#eaeaea, #dadada); background-image: -moz-linear-gradient(#eaeaea, #dadada); background-image: -o-linear-gradient(#eaeaea, #dadada); background-image: linear-gradient(#eaeaea, #dadada); border-color: #cccccc #cccccc #b5b5b5; }
.button:active, input[type="submit"]:active { background-color: #dadada; background-image: none; border-color: #b5b5b5; -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.15); -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.15); box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.15); }
.button:disabled, input[type="submit"]:disabled, .button:disabled:hover, input[type="submit"]:disabled:hover, .button[disabled], input[disabled][type="submit"], .button[disabled]:hover, input[disabled][type="submit"]:hover { opacity: .5; color: #666; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9); background-image: none; background-color: #e5e5e5; border-color: #c5c5c5; cursor: default; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }

.btn { display: inline-block; padding: 4px 12px; margin-bottom: 0; text-align: center; vertical-align: middle; cursor: pointer; color: #333333; text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); background-color: #a3a3a3; background-image: -moz-linear-gradient(top, #999999, #b3b3b3); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#999999), to(#b3b3b3)); background-image: -webkit-linear-gradient(top, #999999, #b3b3b3); background-image: -o-linear-gradient(top, #999999, #b3b3b3); background-image: linear-gradient(to bottom, #999999, #b3b3b3); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF999999', endColorstr='#FFB3B3B3', GradientType=0); border-color: #b3b3b3 #b3b3b3 #8c8c8c; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); *background-color: #b3b3b3; /* Darken IE7 buttons by default so they stand out more given they won't have borders */ filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); border: 1px solid #dddddd; *border: 0; border-bottom-color: #c4c4c4; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; *margin-left: .3em; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); }
.btn:hover, .btn:focus, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { color: #333333; background-color: #b3b3b3; *background-color: #a6a6a6; }
.btn:active, .btn.active { background-color: #999999 \9; }
.btn:first-child { *margin-left: 0; }
.btn:hover, .btn:focus { color: #333333; text-decoration: none; background-position: 0 -15px; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear; }
.btn:focus { outline: thin dotted #333; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px; }
.btn.active, .btn:active { background-image: none; outline: 0; -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); }
.btn.disabled, .btn[disabled] { cursor: default; background-image: none; opacity: 0.65; filter: alpha(opacity=65); -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }

input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="tel"], input[type="url"], textarea, select { outline: none; padding: 3px 4px; background-color: #fff; border: 1px solid #ccc; -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075); -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075); box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075); -webkit-box-sizing: box-sizing; -moz-box-sizing: box-sizing; box-sizing: box-sizing; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-transition: all 0.15s ease-in 0; -moz-transition: all 0.15s ease-in 0; -o-transition: all 0.15s ease-in 0; transition: all 0.15s ease-in 0; vertical-align: middle; }
#content input[type="text"], #content input[type="password"], #content input[type="email"], #content input[type="number"], #content input[type="tel"], #content input[type="url"], #content textarea, #content select { background-color: #fafafa; }
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="tel"]:focus, input[type="url"]:focus, textarea:focus, select:focus { border-color: #51a7e8; box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 5px rgba(81, 167, 232, 0.5); }

input.autocomplete { padding-left: 20px; }
input#issue_subject { width: 98%; }

textarea.wiki-edit { width: 98%; }

option { border-bottom: 1px dotted #ddd; }

.controller-messages.action-show .message { background: #EAF7FF; padding: 0px 15px 10px; border: 1px solid silver; margin: -11px -11px 15px -11px; }
.controller-messages.action-show .message.reply { padding: 0px 10px; margin: -1px; background: white; border: 1px solid #D9D9D9; }
.controller-messages.action-show .message .contextual { margin-top: 10px; }

.controller-boards p.breadcrumb { position: relative; background: white; border: 0px solid; padding: 9px 13px 10px; margin: -5px -10px 1px -10px; background-position-x: 12px !important; background-position-y: 9px !important; -webkit-border-top-left-radius: 8px; -moz-border-radius-topleft: 8px; border-top-left-radius: 8px; -webkit-border-top-right-radius: 8px; -moz-border-radius-topright: 8px; border-top-right-radius: 8px; position: relative; border-bottom: 1px solid #AECCD7; }

#add-news, #add-message, #add-document { background-color: white; position: relative; border-bottom: 1px solid #AECCD7; margin: -5px -10px 1px -10px; padding: 5px 10px 10px; -webkit-border-top-left-radius: 8px; -moz-border-radius-topleft: 8px; border-top-left-radius: 8px; -webkit-border-top-right-radius: 8px; -moz-border-radius-topright: 8px; border-top-right-radius: 8px; }

#quick-search #q { outline: none; padding: 3px 5px !important; background-color: #fff; border: 1px solid #ddd; border-top: 1px solid #CDCDCD; -webkit-box-shadow: 0 1px 0 #f1f1f1, inset 0 1px 1px #e0e0e0; -moz-box-shadow: 0 1px 0 #f1f1f1, inset 0 1px 1px #e0e0e0; box-shadow: 0 1px 0 #f1f1f1, inset 0 1px 1px #e0e0e0; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; color: #333; font-size: 12px; }

.box { background-color: #fcfcfc; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; padding: 16px; }

img.gravatar { -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05); -moz-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05); box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05); }

.controller-wiki div#content > div.contextual { margin-top: 3px; }
.controller-wiki div#content > div.wiki { padding: 10px; padding-top: 20px; }
.controller-wiki div#content p.breadcrumb { margin: 4px 0 -4px 2px; }

.wiki h1 { font-size: 28px; }
.wiki h2 { font-size: 20px; }
.wiki h3 { font-size: 14px; }
.wiki.wiki-page > h2 { border-bottom: 1px solid #eee; }
.wiki img { max-width: 100%; }
.wiki table img { width: 100%; }
.wiki pre { padding: 6px 10px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }

#projects-index ul.projects ul.projects { border-left: 3px solid #E0E0E0; }
ul.projects.root { padding: 10px; }
@media (min-width: 1024px) { ul.projects.root { -webkit-column-count: 3; -moz-column-count: 3; -ms-column-count: 3; -o-column-count: 3; column-count: 3; }
  ul.projects.root li.root { border: 1px solid #DDD; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05); -moz-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05); box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05); display: inline-block; margin: 0 0 10px; padding: 5%; vertical-align: top; width: 90%; } }
@media (min-width: 1284px) { ul.projects.root { -webkit-column-count: 4; -moz-column-count: 4; -ms-column-count: 4; -o-column-count: 4; column-count: 4; } }
ul.projects a.project { font-weight: bold; font-size: 1.1em; }

div.journal .details { padding-left: 30px; }

#context-menu { -webkit-box-shadow: 0 0 3px #cccccc; -moz-box-shadow: 0 0 3px #cccccc; box-shadow: 0 0 3px #cccccc; }
#context-menu ul li ul { -webkit-box-shadow: 0 0 3px #cccccc; -moz-box-shadow: 0 0 3px #cccccc; box-shadow: 0 0 3px #cccccc; }
#context-menu li:hover { border: 1px solid #eee !important; background-color: #eee; }
#context-menu ul { border-top: 1px solid #DDD; border-left: 1px solid #DDD; border-bottom: 1px solid #DDD !important; border-right: 1px solid #DDD !important; }

div.tooltip:hover span.tip { border: 1px solid #D9D9D9; zoom: 1; -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05); -moz-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05); box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05); }

table.progress td.closed { background: #AECCD7 none repeat scroll 0%; }
table.progress td.done { background: #EAF2F5 none repeat scroll 0%; }

#history div.journal { border-top: 1px solid #DDD; }

/* Modal form*/
div.modal { -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; border: 1px solid #CCC; padding: 30px 42px; -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2); box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2); }
div.modal h3.title { background: transparent; color: inherit; }

#modalbg { background: white; opacity: 0.75; }

body.action-login #content, body.action-login #main.nosidebar #content { background: inherit; border: 0px; box-shadow: none; }
body.action-login #login-form table { padding: 3em; background: white; -webkit-box-shadow: 0 0 3px #cccccc; -moz-box-shadow: 0 0 3px #cccccc; box-shadow: 0 0 3px #cccccc; border: 1px solid #ddd; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; }

#login-form input#username, #login-form input#password { outline: none; margin: 0px; border: 1px solid #ccc; padding: 6px; font-size: 140%; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }

.controller-account.action-login div.flash, div.wiki div.flash { -webkit-box-shadow: 0 0 3px #cccccc; -moz-box-shadow: 0 0 3px #cccccc; box-shadow: 0 0 3px #cccccc; border: 1px solid #ddd !important; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; margin: 5px; }

#content .tabs ul li a { -webkit-border-top-left-radius: 2px; -moz-border-radius-topleft: 2px; border-top-left-radius: 2px; -webkit-border-top-right-radius: 2px; -moz-border-radius-topright: 2px; border-top-right-radius: 2px; line-height: 1.3em; padding: 6px 10px 6px 10px; }

#sidebar a.selected { background-color: transparent; color: gray; font-weight: bold; }

div.filters .live_search { margin-left: 11px !important; }

input.live_search_field { -webkit-border-radius: 12px; -moz-border-radius: 12px; border-radius: 12px; -webkit-box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.15); -moz-box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.15); box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.15); outline: none; padding: 3px 10px !important; border: 1px solid #C3C3C3; }

.live_search input.live_search_field { font-size: 12px !important; }

label#search_overlabel { font-size: 12px !important; padding-left: 12px !important; margin-top: -3px !important; padding-right: 28px; top: 11px !important; }

table.contacts.index tbody tr:hover { background-color: #EFF5F8 !important; }
table.contacts.index tbody tr.context-menu-selection:hover { background-color: #507AAA !important; }

h2 span.tag { letter-spacing: 0px; top: -4px; position: relative; }
h2 span.tag a { margin-bottom: -1px; }

div.filters .live_search { letter-spacing: 0px; }

label#search_overlabel { margin-top: -4px; }

.live_search input.live_search_field { margin-top: -6px; }

span.tag a, span.deal-status { color: white; text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25); font-size: 9px !important; line-height: 1 !important; margin: 2px 0px 2px 0px; text-decoration: none; font-weight: bold; display: inline-block; position: relative; text-align: center; border-top: 1px solid rgba(255, 255, 255, 0.25); -webkit-border-radius: 14px; -moz-border-radius: 14px; border-radius: 14px; padding: 4px 6px 4px !important; background: black url(../images/dark-overlay.png) repeat-x scroll 0 0; border: 1px solid rgba(0, 0, 0, 0.2); -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3); }
span.tag a:hover { text-shadow: none; }
span.deal-status a:hover { color: black; text-shadow: none; }

body.controller-contacts #content, body.controller-notes #content, body.controller-contacts_tasks #content, body.controller-contacts_duplicates #content, body.controller-sale_funel #content, body.controller-deals #content { margin-right: 340px; }
body.controller-contacts #sidebar, body.controller-notes #sidebar, body.controller-contacts_tasks #sidebar, body.controller-contacts_duplicates #sidebar, body.controller-sale_funel #sidebar, body.controller-deals #sidebar { width: 300px !important; }

table.invoice-lines tbody tr.line-data:hover { background-color: #EFF5F8 !important; }
table.invoice-lines th { border: 0px !important; }

span.invoice-status.draft { background-color: #AAA !important; }
span.invoice-status.sent { background-color: #3F8AF7 !important; }
span.invoice-status.paid { background-color: green !important; }

div#main-menu li a.products { background: #F4786A !important; text-shadow: none; }
div#main-menu li a.products.selected { background-color: #E5E3DE !important; color: #222; }

a.buy-button.blue { background: #4C728A !important; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #4c728a), color-stop(100%, #749bb4)) !important; background-image: -webkit-linear-gradient(bottom, #4c728a 0%, #749bb4 100%) !important; background-image: -moz-linear-gradient(bottom, #4c728a 0%, #749bb4 100%) !important; background-image: -o-linear-gradient(bottom, #4c728a 0%, #749bb4 100%) !important; background-image: linear-gradient(bottom, #4c728a 0%, #749bb4 100%) !important; -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#749BB4', endColorstr='#4C728A')" !important; }

#picture { width: 446px !important; top: 7px; }

#title h2, #buttons, #title h1 { min-width: 550px !important; }
